<div class="footer">
    <div class="container-footer">
        <div class="container-footer-infos">
            <p class="footer-title">Qui nous sommes ?</p>
            <p class="footer-infos">TIPS FOR EARTH est un site de conseils écologique pour tous. Les petits gestes du quotidien sont essentiels à la protection de l'environnement de notre santé. À vous de jouer!</p>
            <p style="margin-top:18px;">Copyright Tips For Earth {{"now"|date('Y')}}</p>
        </div>
        <div class="container-footer-contact">
            <p class="footer-title">Contactez-nous</p>
                <p class="contact-infos">Adresse : 27 bis rue du progrès</p>
                <p class="contact-infos">Phone : +33 02 02 54 54 45 65</p>
                <p>Mail : ipsum@gmail.com</p>
        </div>  
        <div class="container-footer-menu">
            <p class="footer-title">Menu</p>
            <nav class="nav-main">
                <ul>
                    {% for item in menu.items %}
                        <li class="nav-main-item {{ item.classes|join(' ') }}">
                            <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                            {% if item.children %}
                                <ul class="nav-drop">
                                    {% for child in item.children %}
                                        <li class="nav-drop-item">
                                            <a href="{{ child.link }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>