<header class="header">
    <div class="containerHeader">
      <a href="{{site.url}}"><img src="{{site.theme.link}}/assets/images/LogoTFE.png" class="logo" /></a>
      <a href="{{site.url}}" class="websiteTitle"><strong>{{ site.title }}</strong></a>
      <nav class="mainMenu">
      {% if menu %}
          <div class="dropdown toggle">
            <input id="t1" type="checkbox">
            <label for="t1">Tips par</label>
            <ul>
              <li><a href="{{site.url}}/index.php/partout">Partout</a></li>
              <li><a href="{{site.url}}/lieux/maison">Maison</a></li>
              <li><a href="{{site.url}}/lieux/nature">Nature</a></li>
              <li><a href="{{site.url}}/lieux/restaurant">Restaurant</a></li>
              <li><a href="{{site.url}}/lieux/transport">Transport</a></li>
              <li><a href="{{site.url}}/lieux/travail">Travail</a></li>
              <li><a href="{{site.url}}/types/eau">Eau</a></li>
              <li><a href="{{site.url}}/types/alimentation">Alimentation</a></li>
              <li><a href="{{site.url}}/types/electricite">Éléctricité</a></li>
              <li><a href="{{site.url}}/types/energie">Énergie</a></li>
            </ul>
            {% endif %}
          </div>
      </nav>
      <button href="{{site.url}}/blog" class="menuBlog" >
        <img src="{{site.theme.link}}/assets/icons/feather.svg"/>
        BLOG
      </button>
    </div>
  </header>
