<header class="header">
    <div class="containerHeader">
      <img src="{{site.theme.link}}/assets/images/LogoTFE.png" class="logo" />
      <a href="{{site.url}}" class="websiteTitle"><strong>{{ site.title }}</strong></a>
      <nav class="mainMenu">
      {% if menu %}
          <div class="dropdown toggle">
            <input id="t1" type="checkbox">
            <label for="t1">Tips par</label>
            <ul>
              <li><a href="{{site.url}}/index.php/">Partout</a></li>
              <li><a href="#">Maison</a></li>
              <li><a href="#">Nature</a></li>
              <li><a href="#">Restaurant</a></li>
              <li><a href="#">Transport</a></li>
              <li><a href="#">Travail</a></li>
              <li><a href="#">Eau</a></li>
              <li><a href="#">Alimentation</a></li>
              <li><a href="#">Éléctricité</a></li>
              <li><a href="#">Énergie</a></li>
            </ul>
            {% endif %}
          </div>
      </nav>
      <button href="#" class="menuBlog" >
        <img src="{{site.theme.link}}/assets/icons/feather.svg"/>
        BLOG
      </button>
    </div>
  </header>
