{% extends 'partials/tease.twig' %}

{% block content %}
	<div class='tease-post'>
		<a href="{{post.link}}">
			<div class='tease-post__img'>
				{% if post.thumbnail.src %}
					<img src='{{post.thumbnail.src}}' />
				{% endif %}
			</div>
		</a>
		<div class='tease-post__text-content'>
			<h3 class='tease-post__title standard-h3'><a href='{{post.link}}'>{{post.title}}</a></h3>
			<p class='tease-post__preview'>{{post.preview.length(25)}}</p>
			<p class='tease-post__infos standard-p-secondary'>{{ post.date('d/m/Y') }} | {{ post.comment_count }} commentaires</p>
		</div>
	</div>
{% endblock %}