{% extends "base.twig" %}

{% block content %}
	<div class="single-tips">
		<h1 class='standard-h1'>{{tips.title}}</h1>
		<section class='single-tips'>
			<div class='tips__card tips__card'>
				<div class='tips__card__img'>
					{% if tips.thumbnail.src %}
						<img src='{{tips.thumbnail.src}}' alt='{{tips.thumbnail.alt}}'>
					{% else %}
						<img src='{{ site.theme.link }}/assets/images/tips-placeholder.png' alt='no image for this tips'>
					{% endif %}
				</div>
				</a>
				<div class='tips__card__text-container'>
					<p class='tips__card__tags standard-p'>
						{% for term in terms %}
							{{ term[0].name}}
						{% endfor %}
					</p>
					<p class="tips-description">{{tips.description_detaillee}}</p>
				</div>
			</div>
			</section>
		<section class='tips__numbers'>
			<h3 class='standard-h3'>En quelques chiffres :</h3>
			<div class='tips__numbers__container'>
				{% if tips.chiffres_0_nombre %}
					<div class='tips__number'>
						<div class='tips__number__chiffre'>{{tips.chiffres_0_nombre}}</div>
						<div class='tips__number__indication'>{{tips.chiffres_0_indication}}</div>
						<div class='tips__number__description'>{{tips.chiffres_0_description}}</div>
					</div>
				{% endif %}
				{% if tips.chiffres_1_nombre %}
					<div class='tips__number'>
						<div class='tips__number__chiffre'>{{tips.chiffres_0_nombre}}</div>
						<div class='tips__number__indication'>{{tips.chiffres_0_indication}}</div>
						<div class='tips__number__description'>{{tips.chiffres_0_description}}</div>
					</div>
				{% endif %}
				{% if tips.chiffres_2_nombre %}
					<div class='tips__number'>
						<div class='tips__number__chiffre'>{{tips.chiffres_0_nombre}}</div>
						<div class='tips__number__indication'>{{tips.chiffres_0_indication}}</div>
						<div class='tips__number__description'>{{tips.chiffres_0_description}}</div>
					</div>
				{% endif %}
			</div>
		</section>
		<!-- comment box --> 
		<section class="comment-box">
		
		<!-- comments -->
			<div class="comments">
				{% if tips.comments %}
				<h3 class='standard-h3'>{{ post.comment_count }} commentaire(s) </h3>
				{% for cmt in tips.comments %}
					{% include "comment.twig" with { comment: cmt } %}
				{% endfor %}
				{% endif %}
			</div>
	{% include "comment-form.twig" %}
				
		</section>
	</div>
{% endblock %}
