{% extends "base.twig" %}

{% block content %}
	<div class="singleTips">
		<h1 class='standard-h1'>{{tips.title}}</h1>

		<section class='single-tips'>
			<div class='tips__card tips__card'>
				<div class='tips__card__img'>
					{% if tips.thumbnail.src %}
						<img src='{{tips.thumbnail.src}}' alt='{{tips.thumbnail.alt}}'>
					{% else %}
						<img src='{{ site.theme.link }}/assets/images/tips-placeholder.png' alt='no image for this tips'>
					{% endif %}
				</div>
				</a>
				<div class='tips__card__text-container'>
					<p class='tips__card__tags standard-p'>
						{% for term in terms %}
							{{ term[0].name}}
						{% endfor %}
					</p>
					<p class="tips-description">{{tips.description_detaillee}}</p>
				</div>
			</div>
			</section>
		<section class='numbers'>
			<h3 class='standard-h3'>En quelques chiffres :</h3>
			{% for nbr in last_numbers %}
			{% include 'partials/single-number.twig' with { number: nbr} %}
			{% endfor %}
		</section>

		<section class="participation">
			<h1 class='standard-h1'>102 personnes ont déjà réalisé ce tip ! Et vous ?</h1>
			<button href="#" class="participation-btn">Je l'ai fait !</button>
		</section>



		<!-- comment box --> 
		<section class="comment-box">
		
		<!-- comments -->
			<div class="comments">
				{% if tips.comments %}
				<h3 class='standard-h3'>{{ post.comment_count }} commentaire(s) </h3>
				{% for cmt in tips.comments %}
					{% include "comment.twig" with { comment: cmt } %}
				{% endfor %}
				{% endif %}
			</div>
	{% include "comment-form.twig" %}
				
		</section>
	</div>
{% endblock %}
